<div class="container main-container">
<h1>All our Cocktails</h1>

<div class="cocktails">
  <% @cocktails.each do |cocktail| %>
    <div class="card">
      <h5><%= link_to cocktail.name, cocktail_path(cocktail) %></h5>
    </div>
  <% end %>
</div>
