// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";

.main-container {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.show-container {
  display: flex;
  flex-flow: column;
  align-items: center;
  margin: 50px auto;
  width: 90%;
}