.navbar {
  display: flex;
  justify-content: space-between;
  align-content: center;
  padding: 10px 30px;
  background-color: #273c75;
  height: 50px;

  a {
    color: white;
    font-weight: bold;
    font-size: 24px;
    text-decoration: none;
  }

  a:hover {
    transform: scale(1.05);
  }
}
